<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./leave-application.component.scss">

    </head>
    <body>
      <div class="bx-applicationForm">
        <h2 style="background-color: rgb(107, 134, 141); height: 50px; padding: 20px;">Leave Application Form</h2>
        <form (submit)="submitLeaveApplication()">

          <label for="leaveType">Leave Type : </label>
          <input type="text" id="leaveType" name="leaveType" [(ngModel)]="leaveApplication.leaveType" required><br><br>
          
          <label for="startDate">Start Date : </label>
          <input type="date" id="startDate" name="startDate" [(ngModel)]="leaveApplication.startDate" required><br><br>
          
          <label for="endDate">End Date : </label>
          <input type="date" id="endDate" name="endDate" [(ngModel)]="leaveApplication.endDate" required><br><br>
          
          <label for="reason">Reason : </label>
          <textarea id="reason" name="reason" [(ngModel)]="leaveApplication.reason" required></textarea><br><br>
          
          <button type="submit">Submit</button>
        </form>
      </div>
   </body>
</html>
